$primary-color: #4B3F72;
/* Dark purple */
$secondary-color: #39314B;
/* Dark purple-grey */
$background-color: #1E1E2E;
/* Near black */
$accent-color: #D1BA74;
/* Muted gold */
$hover-background-color: #E1D190;
/* Light muted gold for hover states */



$text-color: #FFFFFF;