@import 'variables';

* {
	min-width: 0;
}

a:-webkit-any-link {
	color: $text-color;
}

body {
	margin: 0px 0px 0px 0px;
	padding: 0;
	min-height: 100vh;
	font-family: 'Roboto Slab', serif;
	display: flex;
	flex-direction: column;
	background-color: $background-color;
	color: $text-color;
}

a,
button {
	transition: background-color 0.3s ease, color 0.3s ease;
	color: $text-color;
	padding: 7px 7px;
	background-color: $primary-color;
}

a:hover,
button:hover {
	background-color: $hover-background-color;
}

main {
	flex: 1;
	padding: 40px 15%;
	background-color: $background-color;
	backdrop-filter: blur(5px);
}

header,
footer {
	background-color: $primary-color;
}

header {
	border-bottom: 4px solid #000;
	display: flex;
	justify-content: space-between;
	font-size: 20pt;
	flex-direction: row;
	align-items: center;
	padding: 20px 20px;
}

header a {
	margin: 0 10px;
	text-decoration: none;
}

header a:hover {
	color: #e0e0e0;
	/* Slightly darker color on hover */
}

.nav {
	flex-grow: 1;
	display: flex;
}

.nav a:last-child {
	margin-right: 0;
}

.authgroup {
	margin-left: auto;
	justify-self: center;
}

footer {
	height: 50px;
	margin-top: auto;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

footer a {
	color: #a8dadc;
	margin: 0 10px;
	text-decoration: none;
	transition: color 0.3s;
}

footer a:hover {
	color: #68c1c9;
}

.footeritems {
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.form-container {
	display: flex;
	justify-content: space-around;
	/* This will space out the forms evenly */
}

#sign-in-form,
#sign-up-form {
	width: 50%;
	padding: 10px;
	box-sizing: border-box;
	/* Ensures padding doesn't affect overall width */
}

#game-container {
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
}

#bevy {
	width: 100%;
	height: 100%;
	background-color: #606060;
	/* Just for visibility */
}

#run-button.invisible {
	display: none;
}

#run-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background-color: $accent-color;
	padding: 15px 30px;
	border: none;
	font-size: 2.0rem;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	text-decoration: none;
}

#run-button:hover {
	background-color: $hover-background-color;
	/* Darken the button on hover for feedback */
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	/* Slightly bigger shadow on hover for a "lifting" effect */
	transform: translate(-50%, -50%) scale(1.05);
	/* Slightly enlarge the button on hover */
}

#run-button:active {
	transform: translate(-50%, -50%) scale(0.95);
	/* Slightly shrink the button when clicked */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	/* Smaller shadow to give a "pressed" effect */
}

#run-button:focus {
	outline: none;
	/* Remove default outline and replace with a custom style if needed */
	/* Add a custom focus style if the button is focusable, for accessibility */
}

.discord-link {
	background-color: $primary-color;
	color: white;
	padding: 15px 25px;
	text-decoration: none;
}

#log-in-and-register-form {
	width: 100%;
	flex-direction: row;
	display: flex;
	box-sizing: border-box;
}

.log-in-form {
	margin-left: 0%;
}

.sign-up-form {
	margin-left: auto;
}


input {
	padding: 4px 4px;
	margin-top: 2px;
	margin-bottom: 9px;
}

.log-in-button {}

.sign-up-button {}