@import 'variables';

* {
	min-width: 0;
}

body {
	margin: 0px 0px 0px 0px;
	padding: 0;
	min-height: 100vh;
	font-family: 'Roboto Slab', serif;
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
	color: #f2f2f2;
}

main {
	flex: 1;
	padding: 40px 15%;
	background-color: $background-color;
	backdrop-filter: blur(5px);
}

header {
	height: 60px;
	background-color: #333;
	border-bottom: 4px solid #000;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

.headerlinks {
	width: 100%;
	color: white;
	justify-content: space-between;
	display: flex;
}

.headerlinks a {
	color: white;
	margin: 0 10px;
	text-decoration: none;
}

.headerlinks a:hover {
	color: #e0e0e0;
	/* Slightly darker color on hover */
}

.nav {
	flex-grow: 1;
	display: flex;
	padding: 0 20px;
}

.nav a:last-child {
	margin-right: 0;
}

.authgroup {
	margin-left: auto;
	align-self: flex-end;
}

footer {
	height: 50px;
	margin-top: auto;
	background-color: $footer-color;
	color: #fff;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
	/* Added subtle shadow for depth */
}

footer a {
	color: #a8dadc;
	margin: 0 10px;
	text-decoration: none;
	transition: color 0.3s;
}

footer a:hover {
	color: #68c1c9;
}

.footeritems {
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.form-container {
	display: flex;
	justify-content: space-around;
	/* This will space out the forms evenly */
}

#sign-in-form,
#sign-up-form {
	width: 50%;
	/* Adjust the width as needed */
	padding: 10px;
	/* Optional padding */
	box-sizing: border-box;
	/* Ensures padding doesn't affect overall width */
}

#game-container {
	position: relative;
}

#bevy {
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
	/* Just for visibility */
}

#run-button {
	bottom: 50%;
	left: 50%;
	z-index: 10;
	position: absolute;
	//width: 100%;
}

.invisible {
	display: none;
}